{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}

	<div class="flex flex-col md:flex-row h-screen-with-navbar bg-kyudo-white">
		<div id="login_display" class="absolute inset-0 md:static md:flex-2 bg-kyudo-home bg-cover bg-center bg-kyudo-white">
			<div class="absolute inset-0 bg-black/40 bg-kyudo-home md:hidden"></div>
		</div>

		<div class="split-banner group">

			<a href="{{ path('equipment.index') }}" class="split-col split-materiel hover:flex-[1.2]">
				<div class="split-media split-materiel-clip split-bg-materiel">
					<div class="split-overlay"></div>
				</div>
				<div
					class="split-content">
					{# <p class="split-kicker"></p> #}
					<h2 class="split-title">Équipements</h2>
					{# <span class="split-cta"></span> #}
				</div>
			</a>

			<a href="{{ path('club_index') }}" class="split-col split-chevauchement hover:flex-[1.2]">
				<div class="split-separator"></div>
				<div class="split-media split-club-clip split-bg-club">
					<div class="split-overlay"></div>
				</div>
				<div
					class="split-content">
					{# <p class="split-kicker"></p> #}
					<h2 class="split-title">Les Clubs</h2>
					{# <span class="split-cta"></span> #}
				</div>
			</a>

			<a href="{{ path('user_change_password') }}" class="split-col split-chevauchement hover:flex-[1.2]">
				<div class="split-separator"></div>
				<div class="split-media split-club-clip split-bg-club">
					<div class="split-overlay"></div>
				</div>
				<div
					class="split-content">
					<h2 class="split-title">Modifier mon mot de passe</h2>
				</div>
			</a>

			{% if is_granted('ROLE_ADMIN') %}
				<a href="{{ path('user_index') }}" class="split-col split-chevauchement hover:flex-[1.2]">
					<div class="split-separator"></div>
					<div class="split-media split-club-clip split-bg-club">
						<div class="split-overlay"></div>
					</div>
					<div
						class="split-content">
						<h2 class="split-title">Gestion des utilisateurs</h2>
					</div>
				</a>
			{% endif %}

		</div>

</div>
<a href="{{ path("app_logout") }}">Se déconnecter</a>
{% endblock %}
