{% extends 'base.html.twig' %}

{% block title %}Modifier mon mot de passe{% endblock %}

{% block body %}
    <div class="from-slate-100 to-kyudo-gm-light-grey pt-16 pb-10 px-4 sm:px-6 p-6 h-screen-with-navbar bg-kyudo-club">
        <div class="mx-auto max-w-6xl rounded-3xl shadow-xl p-5 sm:p-8 md:p-12 bg-kyudo-white">

            <div class="flex flex-col gap-4 sm:flex-row sm:items-end sm:justify-between">
                <div>
                <h1 class="text-3xl font-semibold tracking-tight text-kyudo-gm-dark">Modifier mon mot de passe</h1>
                </div>
            </div>

            {{ form_start(form) }}
                {{ form_row(form.currentPassword) }}
                {{ form_row(form.plainPassword.first) }}
                {{ form_row(form.plainPassword.second) }}
                <button type="submit" class="btn btn-primary">Enregistrer</button>
            {{ form_end(form) }}

            <a class="btn btn-secondary mt-3" href="{{ path('app_home') }}">Retour</a>
        </div>
    </div>
{% endblock %}
